#canvas {
    border: 2px solid black;
}

.container {
    display: flex;
  }
  
  .child {
    margin-left: 25px;
  }

@-webkit-keyframes bar-before {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

.graph-cont{
    width: 500px;
    margin-left: 10px;
}

.bar {
    height: 58px;
    max-width: 700px;
    margin: 0 0 10px 0;
    line-height: 58px;
    font-size: 16px;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
}

.bar::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 58px;
    top: 0;
    z-index: -2;
}

.bar::after {
    content: '';
    background: #848586;
    height: 58px;
    transition: 0.7s;
    display: block;
    width: 100%;
    background: #737374;
    /*background: #d12c2c;*/
    -webkit-animation: bar-before 1 1.8s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}